body {
    margin:0px;
    Padding:0px;
	background-color:#fff;
}

.wrapper {

    width:100%;
    background:red;	
}

.wrapper1 {
width:1200px;
margin:0 auto;
position:relative;
top:5px;
padding:0px;

}

.imgwrap{
width:1200px;
margin:0 auto;
position:relative;
top:0px;
padding:5px;

}

.header_bar { height:25px; background-color:#e3e3e3; font-weight:bold; text-align:center; }
.header_bar1 { height:25px; background-color:#0e6492; font-weight:bold; color:#fff; text-align:center; }




.data_bar { height:25px; text-align:center; }
.data_bar1 { text-align:center; }
.data_bar2 { text-align:center; line-height:18px;!important; height:10px;}

.box_color {	
background-color:#fff;	
margin:5px;
float:left;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:#4c4c4c;
-webkit-box-shadow: 0px 0px 6px 1px rgba(153,153,153,0.22);
-moz-box-shadow: 0px 0px 6px 1px rgba(153,153,153,0.22);
box-shadow: 0px 0px 6px 1px rgba(153,153,153,0.22);	
border-radius: 5px 5px 5px 5px;
-moz-border-radius: 5px 5px 5px 5px;
-webkit-border-radius: 5px 5px 5px 5px;
border: 0px solid #ffffff;
}

.scrollclass{
overflow-x:hidden; 
overflow-y:auto;
position:relative; 
height:310px;
}

.scrollclass tbody tr td:nth-child(2) a{
text-align:left!important; 
padding:5px 5px 5px 5px;
}

.scrollmain{
overflow-x:hidden; 
overflow-y:auto;
position:relative; 
height:130px;
}
.scrollmain tbody tr td:nth-child(2) a{
text-align:left!important; 
padding:5px 5px 5px 5px;
}

.scrollstep{
overflow-x:hidden; 
overflow-y:auto;
position:relative; 
height:275px;
}
.scrollstep tbody tr td:nth-child(2) a{
text-align:left!important; 
padding:5px 5px 5px 5px;
}

.header { background-image:url(../img/default/header_strip.png) ; background-repeat:repeat-x; font-size:12px; color:#4c4c4c; font-family:Arial, Helvetica, sans-serif;

}

.header_divider{		
    width:100%;
    height:35px;
	position:relative;
    border-bottom: 5px solid #0e6492;
    background: #1595d3; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzE1OTVkMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxMDczYTgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #1595d3 0%, #1073a8 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1595d3), color-stop(100%,#1073a8)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #1595d3 0%,#1073a8 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #1595d3 0%,#1073a8 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #1595d3 0%,#1073a8 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #1595d3 0%,#1073a8 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1595d3', endColorstr='#1073a8',GradientType=0 ); /* IE6-8 */

    -webkit-box-shadow: 1px 3px 4px 0px rgba(0,0,0,0.22);
    -moz-box-shadow: 1px 3px 4px 0px rgba(0,0,0,0.22);
    box-shadow: 1px 3px 4px 0px rgba(0,0,0,0.22);
    font-family:title_font; font-size:16px;  color:#fff; text-align:right; line-height:34px; 
    text-shadow: 0px 1px 1px rgba(0, 1, 0, 1);
}

@font-face {font-family:title_font; src: url(HELVETICANEUELT-LIGHTCOND.OTF);
}	
.title { 
font-family:title_font; font-size:36px; color:#4c4c4c; text-align:center; 
}

.menu_container { width:250px; background:#ebebeb; float:left; postition:absolute; display:none; z-index:10000;}


.footer { width:100%; height:18px; background-color:#0e6492; font-family:Arial, Helvetica, sans-serif; font-size:10px; color:#fff; text-align:center; line-height:15px; }


.content { background-color:#f4f4f6;  postition:relative;}

.wrk_space { background-color:#f4f4f6; width:100%; postition:relative; z-index:1; }



table.scroll, table.scroll1  {
    /* width: 100%; */ /* Optional */
    /* border-collapse: collapse; */
    border-spacing: 0;
    /*border: 1px solid black;*/
}

table.scroll tbody, table.scroll thead, table.scroll1 tbody, table.scroll1 thead { display: block; }

thead tr { 

    /* text-align: left; */
	height:25px; background-color:#e3e3e3; font-weight:bold; text-align:center;
}

table.scroll tbody {
	max-height:125px;
    height: auto;
    overflow-y: auto;
    overflow-x: hidden;
}


table.scroll1 tbody {
	max-height:300px;
    
    overflow-y: auto;
    overflow-x: hidden;
}

table.scroll tbody tr:hover, table.scroll1 tbody tr:hover {background-color:#f9f9f9;}
table.scroll tbody tr a, table.scroll1 tbody tr a{display:block; text-decoration:none; color:#4c4c4c;}
table.scroll tbody tr a:hover, table.scroll1 tbody tr a:hover {color:blue;}

tbody tr {
height:25px; text-align:center;	
}

.env tbody tr {
height:18px; 	
}

tbody td {
    /* width: 20%; */ /* Optional */
    
    /* white-space: nowrap; */
	border-bottom:1px solid #e3e3e3; 
	border-right:1px solid #e3e3e3;
}

.scroll tbody tr td:nth-child(3) a{
text-align:left!important; 
padding:5px 5px 5px 5px;
}

tbody td:last-child, thead th:last-child {
    border-right: none;
	}

tbody tr:last-child td {
    border-bottom: none;
	}

.table-text-normal{border-right:1px solid #cdcdcd; border-left:0px; border-bottom:1px solid #cdcdcd;}

.table-text-td3{border-right:1px solid #cdcdcd; border-left:0px; border-bottom:1px solid #cdcdcd; text-align:left; padding:5px 5px 5px 5px;}

.table-text-last{border-left:0px; border-bottom:1px solid #cdcdcd;}

#hmbtn{
	width:24px; height:24px; background-position:left; position:absolute; left:90px; background-image:url(../img/default/home.png); border:1px solid #1798da; top: 7px;      
	}
#hmbtn:hover {
	background-position:right; border:1px solid #fff; display:block; cursor: pointer;
}


.image_vieww {

position:absolute;

right:0px;
bottom:0px;

}